<ion-view hide-nav-bar="true" hide-tabs="true">
	<style type="text/css">
				.row_jingxuan_header{
			position: relative;
		}
		.jingxuan_header{
			height: 1.25rem;
			background: #242424;
		}
		.jingxuan_button{
			width: 0.4rem;
			height: 0.50rem;
		position: relative;
		bottom: 0.2rem;
		left: 0.4rem;
		float: left;
			margin-bottom: 0.4rem;
		}
		.jingxuan_title{
		
			text-align:left;
			color: white;
			font-size: 0.4rem;
		}
		.col-offset-19{
			margin-left: 19%;
		}
		.slide-in-right {  -webkit-transform: translateX(-100%);  transform: translateX(100%);}.slide-in-right.ng-enter, .slide-in-right > .ng-enter {  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;}.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {  -webkit-transform: translateX(0);  transform: translateX(0);}.slide-in-right.ng-leave, .slide-in-right > .ng-leave {  -webkit-transition: all ease-in-out 250ms;  transition: all ease-in-out 250ms;}.

.slide-in-left {  -webkit-transform: translateX(-100%);  transform: translateX(100%);}.slide-in-left.ng-enter, .slide-in-left > .ng-enter {  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;}.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {  -webkit-transform: translateX(0);  transform: translateX(0);}.slide-in-left.ng-leave, .slide-in-left > .ng-leave {  -webkit-transition: all ease-in-out 250ms;  transition: all ease-in-out 250ms;}

	</style>
	<div class="jingxuan_header">
    	<div style="width:100%;height: 0.5rem;"></div>
    	<div class="row row_jingxuan_header" style="width: 100%;height: 0.75rem;padding: 0;">
    <div class="col col-20">
<button class="button button-icon jingxuan_button icon ion-ios-arrow-left light" ng-click="goback()">

</button></div>
<div class="col col-offset-19">
<div class="jingxuan_title" style="float:left ;">个人信息</div>

</div>
     </div>
      </div>
  <ion-content style="margin-top:1.25rem ;background: #efeef4;">
   <div style="height: 0.28rem;background: #f0f0f0;border-bottom:#d3d3d3 1px solid ;"></div>
   <div style="border-bottom:#d3d3d3 1px solid ;padding-left: 0.28rem;background: white;height: 1.8rem;" >
  <a class="item item-icon-left  item-icon-right"  style="border: none;margin-bottom: 0.02rem;padding:0 ;" ng-click="toimg()">
   
<span style="font-size: 0.36rem;position: relative;bottom: 0.55rem;"> 头像</span>
<img src="{{src}}" style="width: 1.6rem;height: 1.6rem;border-radius: 50%;position: relative;left:3rem;top: 0.1rem;"/>
     <i class="icon  ion-chevron-right" style="color: #c9c9c9;font-size: 0.3rem;"></i>
  </a>

 </div>
  <div style="border-bottom:#d3d3d3 1px solid ;padding-left: 0.28rem;background: white;height: 0.9rem;padding-top: 0.25rem;" ng-click="toname()">
  <a class="item item-icon-left  item-icon-right"  style="border: none;margin-bottom: 0.02rem;padding:0 ;">
   
<span style="font-size: 0.36rem;position: relative;"> 昵称</span>
<span style="position: relative;left:3.3rem;"/>{{name}}</span>
     <i class="icon  ion-chevron-right" style="color: #c9c9c9;font-size: 0.3rem;"></i>
  </a>

 </div>
  <div style="border-bottom:#d3d3d3 1px solid ;padding-left: 0.28rem;background: white;height: 0.9rem;padding-top: 0.25rem;" ng-click="tosex()">
  <a class="item item-icon-left  item-icon-right"  style="border: none;margin-bottom: 0.02rem;padding:0 ;">
   
<span style="font-size: 0.36rem;position: relative;"> 性别</span>
<span style="position: relative;left:3.6rem;"/>{{sex}}</span>
     <i class="icon  ion-chevron-right" style="color: #c9c9c9;font-size: 0.3rem;"></i>
  </a>

 </div>
 <div style="border-bottom:#d3d3d3 1px solid ;padding-left: 0.28rem;background: white;height: 0.9rem;padding-top: 0.25rem;" ng-click="todate()">
  <a class="item item-icon-left  item-icon-right"  style="border: none;margin-bottom: 0.02rem;padding:0 ;">
   
<span style="font-size: 0.36rem;position: relative;"> 生日</span>
<span style="position: relative;left:3rem;"/>1970-01-01</span>
     <i class="icon  ion-chevron-right" style="color: #c9c9c9;font-size: 0.3rem;"></i>
  </a>

 </div>
 <div style="border-bottom:#d3d3d3 1px solid ;padding-left: 0.28rem;background: white;height: 0.9rem;padding-top: 0.25rem;" ng-click="todate()">
  <a class="item item-icon-left  item-icon-right"  style="border: none;margin-bottom: 0.02rem;padding:0 ;">
   
<span style="font-size: 0.36rem;position: relative;"> 简介</span>
<span style="position: relative;left:3rem;"/></span>
     <i class="icon  ion-chevron-right" style="color: #c9c9c9;font-size: 0.3rem;"></i>
  </a>

 </div>
 <div style="border-bottom:#d3d3d3 1px solid ;padding-left: 0.28rem;background: white;height: 0.9rem;padding-top: 0.25rem;" >
  <a class="item item-icon-left  item-icon-right"  style="border: none;margin-bottom: 0.02rem;padding:0 ;">
   
<span style="font-size: 0.36rem;position: relative;"> 更改背景</span>
<span style="position: relative;left:3rem;"/></span>
     <i class="icon  ion-chevron-right" style="color: #c9c9c9;font-size: 0.3rem;"></i>
  </a>

 </div>
   <div style="height: 0.28rem;background: #f0f0f0;border-bottom:#d3d3d3 1px solid ;"></div>
    <div style="border-bottom:#d3d3d3 1px solid ;padding-left: 0.28rem;background: white;height: 0.9rem;padding-top: 0.25rem;" >
  <a class="item item-icon-left  item-icon-right"  style="border: none;margin-bottom: 0.02rem;padding:0 ;">
   
<span style="font-size: 0.36rem;position: relative;"> 个性标签</span>
<span style="position: relative;left:3rem;"/>修改</span>
     <i class="icon  ion-chevron-right" style="color: #c9c9c9;font-size: 0.3rem;"></i>
  </a>

 </div>
  <div style="height: 0.28rem;background: #f0f0f0;border-bottom:#d3d3d3 1px solid ;"></div>
    <div style="border-bottom:#d3d3d3 1px solid ;padding-left: 0.28rem;background: white;height: 0.9rem;padding-top: 0.25rem;" ng-click="gotel()">
  <a class="item item-icon-left  item-icon-right"  style="border: none;margin-bottom: 0.02rem;padding:0 ;">
   
<span style="font-size: 0.36rem;position: relative;"> 手机号码</span>
<span style="position: relative;left:2.4rem;"/>{{telephoneData}}</span>
     <i class="icon  ion-chevron-right" style="color: #c9c9c9;font-size: 0.3rem;"></i>
  </a>

 </div>
  <div style="border-bottom:#d3d3d3 1px solid ;padding-left: 0.28rem;background: white;height: 0.9rem;padding-top: 0.25rem;" >
  <a class="item item-icon-left  item-icon-right"  style="border: none;margin-bottom: 0.02rem;padding:0 ;">
   
<span style="font-size: 0.36rem;position: relative;"> 收货地址</span>
<span style="position: relative;left:2.4rem;"/></span>
     <i class="icon  ion-chevron-right" style="color: #c9c9c9;font-size: 0.3rem;"></i>
  </a>

 </div>
 <div style="height: 0.28rem;background: #f0f0f0;border-bottom:#d3d3d3 1px solid ;"></div>
  <div style="border-bottom:#d3d3d3 1px solid ;padding-left: 0.28rem;background: white;height: 0.9rem;padding-top: 0.25rem;" ng-click="gotel()">
  <a class="item item-icon-left  item-icon-right"  style="border: none;margin-bottom: 0.02rem;padding:0 ;">
   
<span style="font-size: 0.36rem;position: relative;"> 第三方账号</span>
<span style="position: relative;left:2.4rem;"/></span>
     <i class="icon  ion-chevron-right" style="color: #c9c9c9;font-size: 0.3rem;"></i>
  </a>

 </div>
  </ion-content>
  <script id="templates/phone.html" type="text/ng-template">
  	<ion-modal-view ng-controller="bangCtrl">
           <div class="jingxuan_header">
    	<div style="width:100%;height: 0.5rem;"></div>
    	<div class="row row_jingxuan_header" style="width: 100%;height: 0.75rem;padding: 0;">
    <div class="col col-20">
<button class="button button-icon jingxuan_button icon ion-ios-arrow-left light" ng-click="Confirm()">

</button></div>
<div class="col col-offset-17">
<div class="jingxuan_title">绑定手机</div>
</div>
     </div>
      </div>
      <div class="list list-inset">
					  <label class="item item-input">
					    <input type="text" placeholder="请输入手机号码" ng-model="obj.number" ng-blur="shiqu()">
					  </label>
					  <label class="item item-input" style="position:relative;">
					    <input type="password" placeholder="请输入短信验证码" ng-model="obj.password" ng-blur="shiqu()">
					    <div style="position: absolute;right: 0.2rem;top: 0.1rem;width: 2.5rem;height: 0.7rem;background: #CCCCCC;border-radius:0.05rem ;text-align: center;line-height: 0.7rem;">获取验证码</div>
					  </label>
					</div>
					<div class="loginButton padding"><button class="button button-block "  style="background: #242424;color: white;"  ng-click="queren()"> 确认 </button> </div>
        </ion-modal-view>
  </script>
</ion-view>