<ion-view view-title="Chats" hide-nav-bar="true">
	<style type="text/css">
		.guang_header{
			background: #212121;
			height: 1.25rem;
			padding-top: 0.53rem;
		}
			.guang_header .right_icon{
				font-size: 0.5rem;
			}
		.guang_inp{
			background: #010101;
			color:#737373 ;
		}
		.guang_list{
			position: relative;
			text-align: center;
			height: 1.57rem;
		}
		.guang_list  img{
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			width:0.6rem;
			height: 0.7rem;
		}
		.guang_list p{
			line-height:1.57rem;
			margin-top: 0.6rem;
		}
		.goods{
			width: 100%;
			height: 4.6rem;
			position: relative;
		}
		.goods_mark{
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.4);
			position: absolute;
			top: 0;
			color: #FFFFFF;
		}
		.heng{
			width: 0.55rem;
			height: 0.05rem;
			border-radius:0.01rem;
			background: #FFFFFF;
			margin: auto;
		}
		.goods_button{
			width: 1.23rem;
			height: 0.5rem;
			border: 0.03rem solid #FFFFFF;
			margin: auto;
			text-align: center;
			line-height: 0.46rem;
			font-size: 0.25rem;
		}
		.triangle{
			position: absolute;
			bottom: -1px;
			z-index: 2;
			width: 0;
			height: 0;
			left: 45%;
			border:0.4rem solid transparent;
			border-bottom: 0.4rem solid #FFFFFF;
		}
		
	
		 .guangtab_swiper {
        width: 100%;
     height: 4rem;
        margin: 0.2rem auto;
        
    }
.guangtab_swiper   .swiper-slide {
        text-align: center;
         
        background: #fff;
        	width: 2.2rem;
			height: 3.6rem;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .col-offset-5{
    	margin-left:5% ;
    }
 .guangtab_swiper .swiper_img{
    	width: 2.2rem;
    	height: 2.2rem;
    	display: block;
    }
    .guangtab_swiper .swiper_img img{
    	width: 2.2rem;
    	height: 2.2rem;
    }
 .guangtab_swiper .swiper-slide p{
     	font-size: 0.26rem;
     	white-space:nowrap;
     	
     }
     .goods_nav{
     	width: 100%;
     	height: 0.9rem;
     	position: relative;
     }
     .goods_nav_heng{
     	position: absolute;
     	bottom: 0;
   
     	height: 0.03rem;
     	background: #cbaa1d;
     
     }
     .jx_row .col{
     	width: 3.3rem;
     	height: 4.72rem;
     	margin-top: 0.1rem;
     }
     .jx_row .col div{
     	position: relative;
     	
     }
     .jx_row .col p{
     	text-align: center;
     	line-height: 0.2rem;
     }
      .jx_row .col div img{
      	width: 3.3rem;
      	height: 3.3rem;
      }
 .jx_row .col div   .jx_price{
 	width: 1.5rem;
 	
 	font-size: 0.14rem;
 	line-height: 0.3rem;
 	position: absolute;
 	bottom: 0.10rem;
 	left: 0;
 	color: #FFFFFF;
 	background: linear-gradient(to right,#333 10%,transparent);
 }
 .xh_row{
 	
 	height: 0.6rem;
 	margin-top: 0.2rem;
 	margin-bottom: 0.4rem;
 }
  .xh_row .touxiang{
  margin-left: 0.2rem;
  }
 .xh_row .touxiang img{
 	width: 0.6rem;
 	height: 0.6rem;
 	border-radius:50% ;
 }
 .xh_row_text{
 	
 	height: 0.6rem;
 	position: relative;
 }
 .xh_row_img img{
 	width: 2.9rem;
 	height: 2.9rem;
 }
.xh_row_img p{
	text-align: center;
}
.last_slide{
	
}
.last_slide div{
	position: absolute;
	top: 0;
	left: 0;
	width: 2.2rem;
	height: 2.2rem;
	border: 1px solid #333333;
}
 .list_animation{
				width: 100%;
				position: absolute;
				left: 0;
				bottom: 0.5rem;
				
			}
			.img_shake{
				width: 0.7rem;
				height: 0.5rem;
				position: absolute;
				bottom: -0.01rem;
				animation: frame 3s infinite;
				left: 3%;
				z-index: 2;
			}
			@keyframes frame{
				0%{left: 3%;transform: rotateY(0);}
				49%{left: 82%;transform: rotateY(0);}
				50%{left:86%;transform: rotateY(180deg);}
				99%{left: 4%;transform: rotateY(180deg);}
				100%{left: 3%;transform: rotateY(0)}
			}
			.img_line{
				position: absolute;
				width: 90%;
				z-index: 1;
				bottom: 0;
				margin-left: 5%;
			}
	</style>
	<div class="bar bar-header item-input-inset guang_header">
  <label class="item-input-wrapper guang_inp">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="搜索好设计" >
  </label>
  <i class="icon ion-ios-chatbubble-outline light right_icon" style="float: right;margin-left: 0.2rem;" ></i>
</div>
  <ion-content class="has-header">
  	<div style="width: 100%;height: 0.4rem;"></div>
    <div class="row">
    	<div class="col guang_list">
    		<img src="img/1503847708(1).jpg" />
    		<p>女人</p>
    	</div>
    	<div class="col guang_list">
    		<img src="img/微信图片_20170828111519.png" />
    		<p>男人</p>
    	</div>
    	<div class="col guang_list">
    		<img src="img/微信图片_20170828111413.png" />
    		<p>饰品</p>
    	</div>
    	
    	<div class="col guang_list">
    		
    		<img src="img/微信图片_20170828111050.png" />
    		<p>饰品</p>
    		
    	</div>
    </div>
      <div class="row">
    	<div class="col guang_list">
    		<img src="img/微信图片_20170828111920.png" />
    		<p>配件</p>
    	</div>
    	<div class="col guang_list">
    		<img src="img/微信图片_20170828112001.png" />
    		<p>生活家居</p>
    	</div>
    	<div class="col guang_list">
    		<img src="img/微信图片_20170828112045.png" />
    		<p>好吃的</p>
    	</div>
    	
    	<div class="col guang_list">
    		
    		<img src="img/微信图片_20170828112115.png" />
    		<p>礼物</p>
    		
    	</div>
    </div>
    <div style="height: 0.4rem;"></div>
    <div style="height: 0.23rem;border-bottom: 1px solid #c9cdd0;background: #eff0f2;"></div>
    <div ng-repeat="guang in data">
    <div class="goods" style="background: url({{guang.img}}) no-repeat;background-size:100% 100% ;" ng-click="go(guang.id)">
    	<div class="goods_mark">
    		<h3 style="color: #FFFFFF;text-align: center;margin-top: 1.1rem;font-size: 0.45rem;">{{guang.title}}</h1>
    			<div class="heng"></div>
    			<p style="text-align: center;margin-top: 0.2rem;">{{guang.name}}</p>
    			<div class="goods_button">
    				查看全部
    			</div>
    	</div>
    	<div class="triangle"></div>
    	
    </div>
  <div class="swiper-container guangtab_swiper padding" >
        <div class="swiper-wrapper padding" >
            <div class="swiper-slide"  ng-repeat="guangdata in guang.arr">
            	<div>
            		<div class="swiper_img"><img src="{{guangdata.src}}"></div>
            	<p style="margin-top: 0.2rem;">{{guangdata.title}}</p>
            	<p style="line-height: 0.1rem;">{{guangdata.name}}</p>
            	<p style="margin-top: 0.1rem;">￥{{guangdata.price}}</p>
            	</div>
            	
            </div>
         <div class="swiper-slide last_slide" style="position: relative;bottom: 0.15rem;right: 0.15rem;	">
         	<div style="text-align: center;line-height: 2.2rem;background: #efefef;" ng-click="go(guang.id)">
         		查看 全部
         	</div>
         </div>
        
        </div>
  </div>
  </div>
    
   <div style="height: 0.24rem;background: #f0f0f0;"></div>
   <div class="row goods_nav">
   	<div class="col" style="text-align: center;line-height: 0.9rem;" ng-click="jingxuan()" ng-style="jingstyle">精选</div>
   		<div class="col" style="text-align: center;line-height: 0.9rem;" ng-click="xihuan()" ng-style="xistyle">大家喜欢</div>
   		<div class="goods_nav_heng" ng-style="nav_heng"></div>
   </div>
   <div ng-show="jx">
   <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
   		<div class="row jx_row" ng-repeat="jx in lastarr">
   			
   		<div class="col padding" ng-repeat="jxdata in jx">
   			<div><img src="{{jxdata.src}}" />
   			<div class="jx_price">￥{{jxdata.price}}</div></div>
   			<p style="margin-top: 0.1rem;">{{jxdata.name}}</p>
   			<p>{{jxdata.title}}</p>
   			<p><i class="icon ion-ios-heart-outline" style="position: relative;top: 0.02rem;right: 0.04rem;"></i>{{jxdata.liked}}</p>
   		</div>
   	
   		</div>
   		<ion-infinite-scroll   ng-if="hasmore" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
   	</div>
   <div ng-show="xh">
   	<div>
   	<div class="row xh_row">
   		<div class="col col-10 ">
   			<div class="touxiang">
   				<img src="img/Fqqqey4aWsHtjMoPCoTjuBb_HP5f.jpg" />
   			</div>
   			
   		</div>
   		<div class="col col-80 col-offset-5 xh_row_text">
   			<div style="line-height: 0.2rem;"><p style="font-size: 0.26rem;color: #333;">铁匠点心</p>
   			<p style="font-size: 0.26rem;color: #787878;">喜欢了6件商品</p></div>
   			
   			<span style="position: absolute;right:10% ;top: 30%;font-size: 0.2rem;color: #a1a1a1;">16:40</span>
   		</div>
   		
   	</div>
   	<div class="row xh_row_img" >
   		<div class="col col-10 col-offset-5"></div>
   		<div class="col">
   			<img src="img/FrDtkGIcL8nTg_1ezsjJYxEMwKdL.jpg"/>
   			<p><i class="icon ion-ios-heart-outline" style="position: relative;top: 0.02rem;right: 0.04rem;"></i>6</p>
   		</div>
   		<div class="col">
   			<img src="img/FjRL5Wt6mlvTPE_JAnNSzr2AWLCP.jpg"/>
   			<p><i class="icon ion-ios-heart-outline" style="position: relative;top: 0.02rem;right: 0.04rem;"></i>12</p>
   		</div>
   	</div>
   		<div class="row xh_row_img" >
   		<div class="col col-10 col-offset-5"></div>
   		<div class="col">
   			<img src="img/Fur1rxcXqQjzanJH8Off_UeBqMIz.jpg"/>
   			<p><i class="icon ion-ios-heart-outline" style="position: relative;top: 0.02rem;right: 0.04rem;"></i>138</p>
   		</div>
   		<div class="col">
   			<img src="img/FhszSu6NZL9gonUm-TIT4AtS5ORl.jpg"/>
   			<p><i class="icon ion-ios-heart-outline" style="position: relative;top: 0.02rem;right: 0.04rem;"></i>15</p>
   		</div>
   	</div>
   	</div>
   		<div>
   	<div class="row xh_row">
   		<div class="col col-10 ">
   			<div class="touxiang">
   				<img src="img/FnBLVNE8vTHECDl4G-xbemPXepgn.jpg" />
   			</div>
   			
   		</div>
   		<div class="col col-80 col-offset-5 xh_row_text">
   			<div style="line-height: 0.2rem;"><p style="font-size: 0.26rem;color: #333;">竹竿</p>
   			<p style="font-size: 0.26rem;color: #787878;">喜欢了6件商品</p></div>
   			
   			<span style="position: absolute;right:10% ;top: 30%;font-size: 0.2rem;color: #a1a1a1;">16:40</span>
   		</div>
   		
   	</div>
   	<div class="row xh_row_img" >
   		<div class="col col-10 col-offset-5"></div>
   		<div class="col">
   			<img src="img/FpP0Li9IY0nnsYaC7iFm0EPVfh-c.jpg"/>
   			<p><i class="icon ion-ios-heart-outline" style="position: relative;top: 0.02rem;right: 0.04rem;"></i>132</p>
   		</div>
   		<div class="col">
   			<img src="img/Fm0ov26noqL-M08cOgV6IEUFM2uc.jpg"/>
   			<p><i class="icon ion-ios-heart-outline" style="position: relative;top: 0.02rem;right: 0.04rem;"></i>126</p>
   		</div>
   	</div>
   		<div class="row xh_row_img" >
   		<div class="col col-10 col-offset-5"></div>
   		<div class="col">
   			<img src="img/FkeiFD-ylnfbe95cNLgnW2e9VDhL.jpg"/>
   			<p><i class="icon ion-ios-heart-outline" style="position: relative;top: 0.02rem;right: 0.04rem;"></i>152</p>
   		</div>
   		<div class="col">
   			<img src="img/Fqr5EoSVqVQL_QKSdvynjldd29gw.jpg"/>
   			<p><i class="icon ion-ios-heart-outline" style="position: relative;top: 0.02rem;right: 0.04rem;"></i>72</p>
   		</div>
   	</div>
   	</div>
   </div>
  </ion-content>
  
</ion-view>
