<ion-view hide-nav-bar="true" hide-tabs="true">
	<style type="text/css">
				.row_jingxuan_header{
			position: relative;
		}
		.jingxuan_header{
			height: 1.25rem;
			background: #242424;
		}
		.jingxuan_button{
			width: 0.4rem;
			height: 0.50rem;
		position: relative;
		bottom: 0.2rem;
		left: 0.4rem;
		float: left;
			margin-bottom: 0.4rem;
		}
		.jingxuan_title{
		
			text-align:left;
			color: white;
			font-size: 0.4rem;
		}
		.col-offset-19{
			margin-left: 19%;
		}
		.slide-in-right {  -webkit-transform: translateX(-100%);  transform: translateX(100%);}.slide-in-right.ng-enter, .slide-in-right > .ng-enter {  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;}.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {  -webkit-transform: translateX(0);  transform: translateX(0);}.slide-in-right.ng-leave, .slide-in-right > .ng-leave {  -webkit-transition: all ease-in-out 250ms;  transition: all ease-in-out 250ms;}.

.slide-in-left {  -webkit-transform: translateX(-100%);  transform: translateX(100%);}.slide-in-left.ng-enter, .slide-in-left > .ng-enter {  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;}.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {  -webkit-transform: translateX(0);  transform: translateX(0);}.slide-in-left.ng-leave, .slide-in-left > .ng-leave {  -webkit-transition: all ease-in-out 250ms;  transition: all ease-in-out 250ms;}
.order_nav{
	width: 100%;
	height: 0.7rem;
	position: relative;
}
.order_nav ul li{
	float: left;
	width: 20%;
	text-align: center;
	line-height: 0.7rem;
	height: 100%;
	color: #161616;
}
 .order_slide{
        width: 100%;
        height: 100%;
        margin:auto;
        
    }
 .order_slide   .swiper-slide {
 	width: 100%;
 	height: 100%;
 	background: #f2f2f2;
        text-align: center;
        position: relative;
        font-size: 18px;
       
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .order_slide   .swiper-slide img{
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	margin: auto;
    	width: 2.8rem;
    	height: 2.8rem;
    }
    .order_heng{
    	width: 0.6rem;
    	height: 0.04rem;
    	background: #d2a919;
    	position: absolute;
    	left: 6%;
    	top: 80%;
    	z-index: 5;
    }
	</style>
	<div class="jingxuan_header">
    	<div style="width:100%;height: 0.5rem;"></div>
    	<div class="row row_jingxuan_header" style="width: 100%;height: 0.75rem;padding: 0;">
    <div class="col col-20">
<button class="button button-icon jingxuan_button icon ion-ios-arrow-left light" ng-click="goback()">

</button></div>
<div class="col col-offset-19">
<div class="jingxuan_title" style="float:left ;">个人信息</div>

</div>
     </div>
      </div>
  <ion-content style="margin-top:1.25rem ;background: #efeef4;">
   <div style="height: 0.28rem;background: #f0f0f0;border-bottom:#d3d3d3 1px solid ;"></div>
   <div style="padding-left: 0.28rem;background: white;height: 1.8rem;">
  <a class="item item-icon-left  item-icon-right"  style="border: none;margin-bottom: 0.02rem;padding:0 ;">
   
<span style="font-size: 0.36rem;position: relative;bottom: 0.55rem;"> 头像</span>
<img src="{{src}}" style="width: 1.6rem;height: 1.6rem;border-radius: 50%;position: relative;left:3rem;top: 0.1rem;"/>
     <i class="icon  ion-chevron-right" style="color: #c9c9c9;font-size: 0.3rem;"></i>
  </a>

 </div>
  </ion-content>
</ion-view>