<ion-view view-title="设计师" hide-nav-bar="true">
	<style type="text/css">
		.header{
			height: 5.04rem;
			background: url(img/img1.jpg);
			background-size:100% 100% ;
			position: relative;
		}
		.header .text_box{
			position: absolute;
			padding-left: 10%;
			bottom: 0;
		}
		.header p{
			color: white;
		}
		.col-45{
			width: 45%;
		}
		.col-offset-10{
			margin-left:10% ;
		}
		.row_toggle{
			position: relative;
			height: 0.89rem;
			border-bottom: 1px solid #dcdcdc;
			line-height: 0.6rem;
			font-size: 0.28rem;
		}
		.col-49{
			flex: 0 0 49%;
		}
		.col-offset-1{
			margin-left: 0.5%;
			
		}
		.designBox{
			width: 3.75rem;
			height: 3.75rem;
			position: relative;
		}
	.img_box{
		width: 100%;
		height: 100%;
		
	}
	.img_box img{
		width: 100%;
		height: 100%;
	}
	.title_box{
		width: 100%;
		height: 100%;
		color: white;
		font-size: 0.32rem;
		text-align: center;
		line-height: 3.75rem;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.5);
	}
	.underline_design{
		
		position: absolute;
				left: 38%;
		width: 0.55rem;
		height: 0.04rem;
              background: #d0a421;
              bottom: 20%;
	}
	
	</style>
  <ion-content>
   <div class="content header">
   	<div class="text_box">
   		
   <div style="color: white;font-size: 0.32rem;">手艺 <div style="display: inline-block;width: 0.05rem;height: 0.4rem;background: white;position: relative;top: 0.06rem;margin-left: 0.05rem;margin-right: 0.05rem;"></div> 手艺辰手工皮具</div>
   	<p style="font-size: 0.26rem;">创始人 , 手工匠人</p>
   	<p style="font-size: 0.2rem;">箱包 简约</p>
   		
   	</div>
   
   </div>
  
   <div class="row row_toggle">
   	<div class="col col-45 " style="text-align: right;padding: 0;" ng-style="industryCss" ng-click="changeToindustry()">
   		行业

  
   		
   		
   	</div>
   		<div class="col  col-offset-10" style="text-align: left;padding: 0;" ng-style="styleCss" ng-click="changeTostyle()">
   		风格
   
    	</div>
    		<div class="underline_design"></div>
   		</div>
   </div>
   <div ng-show="industry" >
   	<div class="row" style="padding: 0;margin-top: 0.04rem;" ng-repeat="industry in hangye">
   		<div class="col col-49 designBox" style="padding: 0;" on-touch="anxia(industry[0].index)" on-release="fangkai(industry[0].designerId,industry[0].index)" ng-click="designer(industry[0].designerId)">
   			<div class="img_box"><img src="{{industry[0].src}}"/></div>
   			<div class="title_box" >{{industry[0].title}}</div>
   		</div>
   		<div class="col col-49 col-offset-1 designBox" style="padding: 0;" on-touch="anxia(industry[1].index)" on-release="fangkai(industry[1].designerId,industry[1].index)" ng-click="designer(industry[1].designerId)">
   			<div class="img_box"><img src="{{industry[1].src}}"/></div>
   			<div class="title_box" >{{industry[1].title}}</div>
   		</div>
   	</div>
   		
   </div>
   <div ng-show="style"> 
   	<div class="row" style="padding: 0;margin-top: 0.04rem;" ng-repeat="style in fengge" >
   		<div class="col col-49 designBox" style="padding: 0;" on-touch="anxia(style[0].index)" on-release="fangkai(style[0].designerId,style[0].index)" ng-click="designer(style[0].designerId)">
   			<div class="img_box"><img src="{{style[0].src}}"/></div>
   			<div class="title_box" >{{style[0].title}}</div>
   		</div>
   		<div class="col col-49 col-offset-1 designBox" style="padding: 0;" on-touch="anxia(style[1].index)" on-release="fangkai(style[1].designerId,style[1].index)" ng-click="designer(style[1].designerId)">
   			<div class="img_box"><img src="{{style[1].src}}"/></div>
   			<div class="title_box" >{{style[1].title}}</div>
   		</div>
   	</div>
   		
   </div>
   
  </ion-content>
</ion-view>
