<ion-view hide-nav-bar="true" hide-tabs="true">
	<style type="text/css">
				.row_jingxuan_header{
			position: relative;
		}
		.jingxuan_header{
			height: 1.25rem;
			background: #242424;
		}
		.jingxuan_button{
			width: 0.4rem;
			height: 0.50rem;
		position: relative;
		bottom: 0.2rem;
		left: 0.4rem;
		float: left;
			margin-bottom: 0.4rem;
		}
		.jingxuan_title{
		
			text-align:left;
			color: white;
			font-size: 0.4rem;
		}
		.col-offset-17{
			margin-left: 17%;
		}
		.slide-in-right {  -webkit-transform: translateX(-100%);  transform: translateX(100%);}.slide-in-right.ng-enter, .slide-in-right > .ng-enter {  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;}.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {  -webkit-transform: translateX(0);  transform: translateX(0);}.slide-in-right.ng-leave, .slide-in-right > .ng-leave {  -webkit-transition: all ease-in-out 250ms;  transition: all ease-in-out 250ms;}.

.slide-in-left {  -webkit-transform: translateX(-100%);  transform: translateX(100%);}.slide-in-left.ng-enter, .slide-in-left > .ng-enter {  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;}.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {  -webkit-transform: translateX(0);  transform: translateX(0);}.slide-in-left.ng-leave, .slide-in-left > .ng-leave {  -webkit-transition: all ease-in-out 250ms;  transition: all ease-in-out 250ms;}

	</style>
	<div class="jingxuan_header">
    	<div style="width:100%;height: 0.5rem;"></div>
    	<div class="row row_jingxuan_header" style="width: 100%;height: 0.75rem;padding: 0;">
    <div class="col col-20">
<button class="button button-icon jingxuan_button icon ion-ios-arrow-left light" ng-click="goback()">

</button></div>
<div class="col col-offset-17">
<div class="jingxuan_title">设计师入驻</div>
</div>
     </div>
      </div>
  <ion-content style="margin-top:1.25rem ;background: #efefef;">
  <div style="padding: 0.28rem;width: 100%;height: 4rem;">
  	<img src="img/shops-enter-banner.jpg" style="width: 100%;height: 100%;"/>
  </div>
  <div style="padding-left: 0.28rem;margin-bottom: 0.2rem;">
  	<span style="font-size: 0.4rem;color: #000000;">关于想去</span><span style="font-size:0.2rem ;color: #8d8d8d;">About</span>
  </div>
  <div style="padding:0 0.28rem;text-indent: 0.5rem;font-size: 0.3rem;">
  	想去网，中国最具有影响力的设计师平台，聚集了全世界当下最具有创意情怀的设计师及手工匠人们！

  </div>
  <div style="padding:0 0.28rem;text-indent: 0.5rem;font-size: 0.3rem;margin-bottom: 0.2rem;">
  	一个奇妙的创意，一份质朴的手艺，一群有态度的设计师，穿越熙熙攘攘的人群，只为与你相遇。每个角度，都是我们生活的态度。
想去，带你发现更多生活美学、原创设计、暖心手作。
  </div>
  <div style="background: #efefef;margin-bottom: 0.2rem;"><img src="img/shops-enter-cont.jpg"/ style="width: 100%;height: 100%;"></div>
  <div style="padding-left: 0.28rem;margin-bottom: 0.2rem;">
  	<span style="font-size: 0.4rem;color: #000000;">招募品类</span><span style="font-size:0.2rem ;color: #8d8d8d;">Category</span>
  </div>
  <div style="padding:0 0.28rem;font-size: 0.3rem;">
  	古着vintage、森系、文艺、清新、朋克、唐装、汉服、创意家居、独立设计师、纯手工手作、手工饰品、手工皮具、美食、孤品、古着、收藏品，艺术商品等，品类不限。只要是用心的设计，别具风格的产品，我们皆可合作！
  </div>
  <div style="padding-left: 0.28rem;margin-bottom: 0.2rem;">
  	<span style="font-size: 0.4rem;color: #000000;">我们的优势</span><span style="font-size:0.2rem ;color: #8d8d8d;">Advantages</span>
  </div>
  <div style="padding-left: 0.28rem;margin-bottom: 0.1rem;">
  	<div style="background: #000000;color: white;width: 2rem;text-align: center;">&nbsp;&nbsp;入驻零门槛&nbsp;&nbsp; </div>
  </div>
  <div style="padding:0 0.28rem;font-size: 0.3rem;margin-bottom: 0.2rem;">
  	不收取任何保证金，成交后按售价收取15%的佣金作为技术服务费，除此之外不再有任何收费项目；
  </div>
  <div style="padding-left: 0.28rem;margin-bottom: 0.1rem;">
  	<div style="background: #000000;color: white;width: 2rem;text-align: center;">&nbsp;&nbsp;担保交易&nbsp;&nbsp; </div>
  </div>
  <div style="padding:0 0.28rem;font-size: 0.3rem;margin-bottom: 0.2rem;">
  结算采用担保交易模式，买卖双方交易成功（买家确认收货）后自动提现。
  </div>
    <div style="padding-left: 0.28rem;margin-bottom: 0.1rem;">
  	<div style="background: #000000;color: white;width: 2rem;text-align: center;">&nbsp;&nbsp;支付工具&nbsp;&nbsp; </div>
  </div>
  <div style="padding:0 0.28rem;font-size: 0.3rem;margin-bottom: 0.2rem;">
  想去的支付方式包括支付宝，银联，微信支付等。
  </div>
   <div style="padding-left: 0.28rem;margin-bottom: 0.1rem;">
  	<div style="background: #000000;color: white;width: 2rem;text-align: center;">&nbsp;&nbsp;图片规范&nbsp;&nbsp; </div>
  </div>
  <div style="padding:0 0.28rem;font-size: 0.3rem;margin-bottom: 0.2rem;">
  1、商品首图推荐使用方图，尺寸600*600及以上；<br />
2、商品详情页的所有图片的长度尺寸统一为620像素及以上；（620*H）<br />
3、所有商品的主图需清晰简明，不能带有第三方平台的地址、微博、包邮、特价，折扣等文字；<br />
4、在不影响商品展示的前提下允许带有品牌LOGO
  </div>
   <div style="padding-left: 0.28rem;">
  	<div style="background: #000000;color: white;width: 3rem;text-align: center;margin-bottom: 0.1rem;">&nbsp;&nbsp;入驻赢百万流量&nbsp;&nbsp; </div>
  </div>
  <div style="padding:0 0.28rem;font-size: 0.3rem;margin-bottom: 0.1rem;">
  合作期间，想去网将动用所有线上线下资源帮助宣传您的品牌与产品，互利互赢。
  </div>
  <div style="padding-left: 0.28rem;font-size: 0.3rem;margin-bottom: 0.1rem;">
  	a、线上资源：&nbsp;&nbsp;&nbsp;<span style="color: #f12968;">免费！</span>
  </div>
  <div style="padding:0 0.28rem;font-size: 0.3rem;margin-bottom: 0.1rem;">
  	官网、APP首页推广位宣传（专题、合集、限时购、板块推广位）；<br />
自媒体资源宣传（微信、微博、豆瓣、社区等）；<br />
不定期举办线上活动推广宣传。
  </div>
    <div style="padding-left: 0.28rem;font-size: 0.3rem;margin-bottom: 0.1rem;">
  	b、线下资源：&nbsp;&nbsp;&nbsp;<span style="color: #f12968;">免费！</span>
  </div>
  <div style="padding:0 0.28rem;font-size: 0.3rem;margin-bottom: 0.1rem;">
  	在咖啡厅、民宿等实体店进行陈列；<br />
举办展会、市集、手工课堂等进行展示与宣传，与粉丝互动。
  </div>
  <div style="padding:0 0.28rem;">
  	<img src="img/QQ图片20170912175202.png" />
  </div>
  <div style="height: 1rem;"></div>
  </ion-content>
  <div style="height: 1rem;width: 100%;padding: 0.2rem;position: absolute;bottom:0;background: white;">
  	<button ng-click="showConfirm()"  style="height:0.6rem;background: #010101;color: white;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;border: none;width: 6.5rem;">我要申请入驻</button>
  </div>
  
  <script id="templates/phone.html" type="text/ng-template">
  	<ion-modal-view ng-controller="bangCtrl">
           <div class="jingxuan_header">
    	<div style="width:100%;height: 0.5rem;"></div>
    	<div class="row row_jingxuan_header" style="width: 100%;height: 0.75rem;padding: 0;">
    <div class="col col-20">
<button class="button button-icon jingxuan_button icon ion-ios-arrow-left light" ng-click="Confirm()">

</button></div>
<div class="col col-offset-17">
<div class="jingxuan_title">绑定手机</div>
</div>
     </div>
      </div>
      <div class="list list-inset">
					  <label class="item item-input">
					    <input type="text" placeholder="请输入手机号码" ng-model="obj.number" ng-blur="shiqu()">
					  </label>
					  <label class="item item-input" style="position:relative;">
					    <input type="password" placeholder="请输入短信验证码" ng-model="obj.password" ng-blur="shiqu()">
					    <div style="position: absolute;right: 0.2rem;top: 0.1rem;width: 2.5rem;height: 0.7rem;background: #CCCCCC;border-radius:0.05rem ;text-align: center;line-height: 0.7rem;">获取验证码</div>
					  </label>
					</div>
					<div class="loginButton padding"><button class="button button-block "  style="background: #242424;color: white;"  ng-click="queren()"> 确认 </button> </div>
        </ion-modal-view>
  </script>
</ion-view>